name: CI
on: push
jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16.x]
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.JS ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Yarn install
        run: yarn install
      - name: Build Javascript
        run: yarn run build
      - name: Test Js
        run: yarn test
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
