name: Tests

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.25']
        bun: ['latest']
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Setup Bun ${{ matrix.bun }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Bun install
        run: bun install

      - name: Build Javascript
        run: bun run build

      - name: Test Go
        run: make test

      - name: Typecheck Js
        run: bun run typecheck

      - name: Test Js
        run: bun run test:js

      - name: Lint Go
        run: bun run lint:go

      - name: Lint Js
        run: bun run lint:js
